#orderAdd {
  .footer {
    display: flex;
    align-items: center;
    height: 55px;
    line-height: 55px;
    background-color: #fff;
    border: 1px solid #e3f2fb;
    z-index: 100;
    > div {
      text-align: center;
    }
    .total {
      flex: 3;
      color: #fff;
    }
    .submit {
      flex: 2;
      font-size: 16px;
      color: #FFFFFF;
      background-color: #FF0036;
    }
  }
}