@font-face {
    font-family: "iconfont";
    src: url(../fonts/iconfont.ttf) format('truetype')/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
    content: "\e702";
}

.icon-teseshipin:before {
    content: "\e703";
}

.icon-teseminsu:before {
    content: "\e704";
}

.icon-zhutilvyou:before {
    content: "\e705";
}

.icon-lujingcopy:before {
    content: "\e707";
}

.icon-xingzhuang:before {
    content: "\e708";
}

.icon-gouwuche:before {
    content: "\e709";
}

.icon-vip:before {
    content: "\e70a";
}

.icon-kefu:before {
    content: "\e70b";
}

.icon-weizhi:before {
    content: "\e70c";
}

.icon-dianpu:before {
    content: "\e70d";
}

.icon-xingzhuang1:before {
    content: "\e70e";
}

.icon-gengduo:before {
    content: "\e70f";
}

.icon-xiangqingyemian-weizhi:before {
    content: "\e710";
}

.icon-dingdanweikong:before {
    content: "\e711";
}

.icon-xiangji:before {
    content: "\e712";
}

.icon-fangjianxinxi:before {
    content: "\e713";
}

.icon-gouwuchekong:before {
    content: "\e714";
}

.icon-gouwuche1:before {
    content: "\e715";
}

.icon-gerenzhongxin-lvyoudingdan:before {
    content: "\e716";
}

.icon-gerenzhongxin-shangpindingdan:before {
    content: "\e717";
}

.icon-gerenzhongxin-minsudingdan:before {
    content: "\e718";
}

.icon-rili:before {
    content: "\e719";
}

.icon-rilikaishi:before {
    content: "\e71a";
}


