#userCenter {
    height: 100%;
    background-color: transparent;

    .img-area {
        position: fixed;
        top: 0;
        width: 100%;
        height: calc(41.87vw);
        background-color: #DEB87D;
        background-image: url("../../assets/img/user_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;
    }

    .main-area {
        position: relative;
        height: auto;
        padding: 0 10px;
        background-color: transparent;
        margin-top: 60px;
        z-index: 101;

        .vip {
            height: 85px;
            margin: 20px 0;
            padding: 20px 40px;
            border-radius: 6px;
            overflow: hidden;
            background-color: #F9DCA4;
            background-image: url("../../assets/img/vipBanner.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .info-area {
            margin-bottom: 15px;
            border-radius: 6px;
            overflow: hidden;
            background-color: #fff;

            .info-list {
                .am-list-body:after, .am-list-body:before {
                    height: 0;
                }

                .iconfont {
                    color: #89492E;
                    font-size: 18px;
                }

                .am-list-item {
                    height: 60px;
                }

                .am-list-content {
                    font-size: 16px;
                    color: #333333;
                }
            }

            .vip-rule {
                padding: 25px 20px;

                &-title {
                    margin-bottom: 15px;
                    line-height: 20px;
                    color: #70564E;
                    font-size: 15px;
                }

                &-desc {
                    color: #837055;
                    font-size: 12px;
                    line-height: 25px;
                }

                .am-button {
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    background: linear-gradient(to right, #BB8444, #E3B053);

                    &:before {
                        border: none !important;
                    }
                }
            }
        }

        .user-area {
            height: 130px;
            padding-left: 26px;
            margin-bottom: 15px;
            border-radius: 7px;
            background-color: #fff;
            background-image: url("../../assets/img/user_info_bg.png");
            background-repeat: no-repeat;
            background-size: cover;

            .user-info {
                display: flex;
                height: 130px;
                align-items: center;

                .user-img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .user-detail {
                    display: flex;
                    height: 60px;
                    margin-left: 10px;
                    flex-direction: column;
                    justify-content: space-between;

                    .user-name {
                        font-size: 16px;
                        color: #70564E;
                        line-height: 23px;
                    }
                    .user-points {
                        font-size: 12px;
                        color: #70564E;
                        line-height: 17px;
                    }

                    .is-vip {
                        color: #FCA82A;

                        img {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }

            .order-list {
                display: flex;
                justify-content: space-around;
                padding: 0 20px;
                height: 60px;
                .order-item {
                    flex: 1;
                    padding: 5px 10px;
                    text-align: center;
                    .order-number {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    .order-label {
                        font-size: 12px;
                        color: #797979;
                    }
                }
            }
        }
    }
}
