#userCenter {
  height: 100%;
  background-color: transparent;

  .img-area {
    width: 100%;
    height: calc(100vw / 2);
    img {
      width: 100%;
      height: 100%;
    }
  }

  .main-area {
    height: auto;
    padding: 0 10px;
    background-color: transparent;
    margin-top: -30px;

    .user-area {
      position: relative;
      margin-bottom: 15px;
      border-radius: 10px;
      background-color: #fff;

    }

    .info-area {
      margin-bottom: 15px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;

      .info-list {
        .am-list-body:after, .am-list-body:before {
          height: 0;
        }
      }
    }

    .user-area {
      height: 160px;
      padding-top: 100px;
      .user-info {
        position: absolute;
        top: -40px;
        left: 50%;
        height: 100px;
        transform: translateX(-50%);
        .user-img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .user-detail {
          padding: 5px;
          text-align: center;
          .user-name {
            margin-bottom: 5px;
            font-size: 18px;
          }
          .user-address {
            font-size: 14px;
            color: #797979;
          }
        }
      }

      .order-list {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        height: 60px;
        .order-item {
          flex: 1;
          padding: 5px 10px;
          text-align: center;
          .order-number {
            font-size: 16px;
            margin-bottom: 5px;
          }
          .order-label {
            font-size: 12px;
            color: #797979;
          }
        }
      }
    }
  }
}