@WhiteSpace: 25px;

.home {

    .classify-list {
        height: 115px;
        background-color: #ffffff;
        text-align: center;

        &-item {
            font-size: 14px;
            color: #0C0C0C;

            img {
                width: 34px;
                height: 34px;
            }

            span {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }

    .sub-title {
        color: #888;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        padding: 15px 0;
    }

    .goods-category {
        margin-top: 10px;
        padding: 10px 0px;
        width: 100%;
        background-color: #fff;
        .goods-category-title {
            position: relative;
            padding-left: 25px;
            height: 30px;
            line-height: 30px;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 15px;
                width: 3px;
                height: 15px;
                background-color: #C20B0B;
                transform: translateY(-50%);
            }
        }
        .goods-category-body {
            width: 100%;
            height: auto;
            padding-top: 10px;
            overflow: hidden;
            a {
                display: block;
                position: relative;
                height: 160px;
                boxShadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
                img {
                    width: 100%;
                    height: calc(~'100% - 30px');
                }
                div {
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
        .food-content {
            width: 100%;
            padding: 10px 15px 0;
            display: flex;
            .left {
                width: 40%;
                padding: 10px;
                border: 1px solid #E0E0E0;
                .food-img {
                    width: 100%;
                    height: 80px;
                    padding: 0 20px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .right {
                width: 60%;
                border: 1px solid #E0E0E0;
                border-left: none;
                > div {
                    position: relative;
                    height: 50%;
                    padding: 10px;
                    border-bottom: 1px solid #E0E0E0;
                    overflow: hidden;
                    &:last-child {
                        border-bottom: none;
                    }
                    .food-img {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        width: 50px;
                        height: 50px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .food-name {
                font-size: 14px;
                height: 28px;
                line-height: 28px;
            }
            .food-text {
                height: 22px;
                line-height: 22px;
                font-size: 12px;
                color: #797979;
            }
        }

        .travel-content {
            height: 140px;
            padding: 10px 15px 0;

            .travel-item {
                float: left;
                width: calc(~'(100vw - 50px)/3');
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                .travel-img {
                    width: 100%;
                    height: 80px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .travel-body {
                    text-align: center;

                    .travel-name {
                        height: 28px;
                        font-size: 14px;
                        line-height: 28px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .travel-date {
                        font-size: 12px;
                        color: #0C0C0C;

                        i {
                            font-size: 12px;
                            color: #6F6F6F;
                        }
                    }
                }
            }
        }
    }

    .hotel {
        &-img {
            width: calc(~'100vw * .6667');
            height: calc(~'(100vw * .6667) * .42');
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            margin: 15px 0 5px;
            font-size: 14px;
            color: #0C0C0C;
            text-align: center;
        }
    }
}
